{# Shared navigation configuration #}
{% set nav_items = [
    ('home', 'home', 'Home', '/pages/home'),
    ('epub', 'menu_book', 'EPUB Converter', '/pages/epub'),
    ('mp3', 'library_music', 'MP3 Converter', '/pages/mp3'),
    ('music-player', 'music_note', 'Music Player', '/pages/music-player'),
    ('alist-video', 'movie', 'AList Video', '/pages/alist-video'),
    ('alist', 'link', 'AList to STRM', '/pages/alist'),
    ('dropbox', 'cloud', 'Dropbox Sync', '/pages/dropbox'),
    ('calibre', 'library_books', 'Calibre Web Sync', '/pages/calibre')
] %}
